*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #141414;
}
.master{
  width: 700px;
  height: 450px;
  padding: 10px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
}
.semestre-x{
  height: 48px;
  background-color: #222222;
  flex-grow: 1;
  transition: flex-grow 0.4s ease-out;
  overflow: hidden;
}
.active{
  flex-grow: 1000;
}

.semestre-x *{
  pointer-events: none;
}
h1{
  text-align: center;
  color: #fabd2a;
  padding: 8px;
}

.bloc-haut{
  background-color: #fabd2a;
  width: 100%;
  text-align: center;
  padding: 8px;
}
.contenu{
  padding: 8px;
  color: #fabd2a;
}
.contenu a{
  text-decoration: none;
  color: #eee;
}
